$base-color: #747474;
$base-color-dark: #666;
$black-color: #333;
$theme-color : #55ae2c;
$btn-light : #d2d2d2;
$small-heading : 1.125rem;
$large-heading : 3rem;
$white-color : #fff;
$bg-dark : #3d3d3d;
$bg-light : #f1f5f8;
$bg-white : #fff;
$border-color : #ccc;
$table-border-color : #e6e6e6;
$form-field-border : #ccc;
$table-color:#e7e1db;
$tabs-border-color : #aeaeae;
$red-color:red;
$label-color: #999;
$login-form-label-color : #9e9c9d;
$font-size-16 : 1rem;
$font-size-14 : 0.875rem;
$font-size-12 : 0.75rem;
$font-size-36 : 2.25rem;
$home-button-join:#2376e7;
$default-anchor-color:#337ab7;
$headings-color : #555;
$content-background : #f4f4f4;
$thead-color : #d2d2d2;
$tr-color : #f2f2f2;
$tr-focus : rgba(128, 130, 132, 0.1);
$icon-color : #747474;
$theme1 : #71bf43;
$theme2 : #0066b2;
$grey : #808284;
